picture.png
test.py
__pycache__/*
picture.png
t.py
t2.py
tt.py
t.py
t.py
ttt.py
output/table/test3/[3, 68, 957, 785].jpg
.gitignore
test2.png
test1.png
output/table/test3/res.txt
result.jpg
s.py
simsun.ttc
test3.png
